<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ink.realm.novel.mapper.NovelChapterTimelineMapper">

    <!-- 级联删除:物理删除指定小说的全部时间线节点(保留 XML) -->
    <delete id="deleteByNovelId">
        DELETE FROM novel_chapter_timeline WHERE novel_id = #{novelId}
    </delete>

</mapper>
